body {
  background-image:url("b.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat
  background-attachment: fixed;
  margin: auto;
  text-align: center;
  width: 300px;
  border: 8px solid purple;
  padding: 50px;
  
}
h1 {
  color: purple;
  font-family: "Papyrus", Fantasy; 
  text-shadow: 2px 2px 5px white;
}

h2 {
  color: purple;
  font-family: "Papyrus", Fantasy;
  text-shadow: 2px 2px 5px white;
  